/*.iml
/*/*.iml
/.project
/*/.project
/.classpath
/*/.classpath

/*/dependency-reduced-pom.xml

/.idea/
/*/target/
/.gradle/
/gradle/

gradlew.bat
gradle.properties
gradle/

/.metadata/

/.settings/

/RemoteSystemsTempFiles/

target/sonar/
/build/

.idea/
*.iml